body
{
  background-color: rgb(247, 249, 252) !important;
}
.css-18plc4v-MuiListItemText-root .MuiTypography-root,.MuiSvgIcon-fontSizeMedium {
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 13px;
}
.css-4s2pl4-MuiButtonBase-root-MuiListItemButton-root .MuiSvgIcon-root  {
  font-size: 25px;
  color:rgb(255, 255, 255);
}

