.App {
  text-align: center;
}

.characters {
  list-style-type: none;
  padding: 0;
}

.character-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.2s;
}

.character-item:hover {
  background-color: #f0f0f0;
}

.characters-thumb img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.container {
  display: flex;
  overflow: auto; /* Ensure this or flex doesn't conflict */
}

